.principal {
    background: #2e2e2e;
    font-family:"Consolas";
    color:#FEFEFE;
}
.principalHead {
    background: #020202;
    font-family:"Consolas";
    color:#FEFEFE;
}
.secDerecha {
    background: #000000;
    font-family:"Consolas";
    color:#FFFFFF;
}
.secIzquierda {
    background: #eeeeee;
    font-family:"Consolas";
    color:#000000;
}
.body {
    background:#2e2e2e;

}
